<div class="p-0 mt-4 pt-4 px-auto col-10" [formGroup]="form">
    
    <div class="row">
    <div class="form-group col-4">
      <input type="text" name=" f10" required class="form-control inputPosition col-11" value="Jonah A" />
      <span class="close" aria-hidden="true">&times;</span>
      </div>
      <div class="form-group col-4">
        <input type="text" name=" f11" required class="form-control inputPosition col-11" value="Jonah A" />
        <span class="close" aria-hidden="true">&times;</span>
      </div>
      <div class="form-group col-4">
        <input type="text" name=" f12" required class="form-control inputPosition col-11" value="Jonah A" />
        <span class="close" aria-hidden="true">&times;</span>
      </div>
      <div class="form-group col-4">
        <input type="text" name=" f13" required class="form-control inputPosition col-11" value="Jonah A" />
        <span class="close" aria-hidden="true">&times;</span>
      </div>
      <div class="form-group col-4">
        <input type="text" name=" f14" required class="form-control inputPosition col-11" value="Jonah A" />
        <span class="close" aria-hidden="true">&times;</span>
      </div>
    </div>
    <div class="row">
            <div class="position-relative with-button mb-2 col-md-4">
                <input class="form-control" maxlength="50" placeholder="abc@griddoo.com" type="text"
                    >
                <button  class="sub-heading-04 mr-2 position-absolute"
                    mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        
        <div class="d-flex justify-content-end w-100">
            <button class="addmore"  >
                <mat-icon>add</mat-icon>
                <span>Add user</span>
            </button>
        </div>
    </div>
    <div class="row pt-4">
        <div class="form-group ml-3 d-flex">
            <label class="sub-heading-05 col-5" for="brokageCommission">Project Access</label>
            <select class="form-control col-8" placeholder="" id="salesteam3" type="text">
                <option value="1">Open to Platinum Brokers</option>
              </select>
        </div>

    </div>
    <div class="d-flex justify-content-end w-100">
        <button class="addmore"  >
            <mat-icon>add</mat-icon>
            <span>Add new User</span>
        </button>
    </div>
  </div>