<form class="d-flex flex-column w-100"
  [formGroup]="form"
  *ngIf="!emailSent">
  <h1 class="font-weight-bold heading-01 font-family-primary">
    Reset Password.
  </h1>
  <p class="font-weight-medium letter-spacing-1 paragraph-01">
    Enter the email ID associated with your Griddo account and we’ll send you a
    link to reset your password.
  </p>
  <div class="form-group">
    <label class="sub-heading-04 letter-spacing-1 text-uppercase font-family-primary">Email Id</label>
    <input formControlName="email"
      placeholder="Email Id"
      type="email"
      class="w-100" />
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid || isProcessing"
      (click)="sendLink()"
      [ngClass]="{'cursor-notallowed':form.invalid || isProcessing,'cursor-pointer':form.valid && !isProcessing}"
      class="d-flex align-items-center bg-color-01 border-0 border-radius color-white font-weight-semi-bold px-5 py-2 sub-heading-04"
      type="submit">
      Send Link <mat-spinner *ngIf="isProcessing" class="ml-2" [diameter]="20" color="warn"></mat-spinner>
    </button>
  </div>
</form>

<div class="d-flex flex-column w-100"
  *ngIf="emailSent">
  <h1 class="font-weight-bold heading-01 font-family-primary">
    Check your mail.
  </h1>
  <p class="font-weight-medium letter-spacing-1 paragraph-01">
    Email sent successfully!
  </p>
  <p class="font-weight-medium letter-spacing-1 paragraph-01">
    Did not receive the email?
    Contact us at admin@griddo.co
  </p>
  <div class="form-group">
    <a class="bg-color-transparent border-0 border-radius color-01 font-weight-bold sub-heading-01 text-decoration-underline"
      routerLink="/">
      Login
    </a>
  </div>
</div>