select,
input,
textarea {
    &.ng-invalid.ng-touched {
        border-color: red;
        border: 1px solid red;
        width: inherit;
    }
}

.is-invalid {
    border-color: red;
    border: 1px solid red;
    width: inherit;
}