<section class="agent-detail-page flex-column row px-3">
    <mat-progress-bar *ngIf="isProgressing" mode="buffer"></mat-progress-bar>
    <a routerLink="../"
        class="back-link color-01 color-01-hover d-flex font-weight-medium letter-spacing-1 mt-3 paragraph-01">
        <mat-icon>keyboard_backspace</mat-icon> Back to All Agents
    </a>
    <div class="agent-name mt-3 py-1 row m-0">
        <p
            class="align-items-center d-flex m-0 font-weight-semi-bold letter-spacing-01 sub-heading-02 text-uppercase color-01">
            Agent Details</p>
    </div>
    <div class="agent-name row-2 mb-3 py-1 row m-0 justify-content-between">
        <p class="align-items-center d-flex m-0 font-weight-semi-bold letter-spacing-1 sub-heading-02 text-uppercase">
            <span class="name color-16">{{agent?.fullNAME}}</span>
            <button class="ml-2 color-11" mat-icon-button>
<!--                <mat-icon>lock_open</mat-icon>-->
            </button>
        </p>
        <img *ngIf="!edit?.personalDetails" class="logo" src="{{agent?.photo || onErrorImg}}" alt=""
            (error)="onError($event)">
        <div *ngIf="edit?.personalDetails" class="form-group m-0">
            <!-- <label class="color-01 font-weight-normal paragraph-03 letter-spacing-1">Upload Logo</label> -->
            <ng-container *ngIf="base64Img_photo">
                <label
                    class="align-items-baseline bg-img border-radius d-flex drag-drop-container form-control justify-content-end p-0"
                    for="companyLogoPath" [ngStyle]="{'background-image': 'url(' + base64Img_photo + ')'}">
                    <button (click)="clearImg('photo')" class="bg-transparent border-0 color-01 cursor-pointer">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </label>
            </ng-container>
            <ng-container *ngIf="!base64Img_photo">
                <label fileDragDrop (filesChangeEmiter)="onFileChange($event,'photo')"
                    class="border-radius d-flex drag-drop-container flex-column form-control justify-content-center cursor-pointer"
                    for="photo">
                    <ng-container></ng-container>
                    <!-- <p class="color-03 m-0 paragraph-02 text-center">Drag & Drop file here</p>
                    <p class="color-03 my-2 paragraph-02 text-center">OR</p> -->
                    <p class="m-0 paragraph-02 text-center"><span
                            class="bg-color-08 border-radius color-07 px-3 py-1">Upload</span></p>
                </label>
                <input class="form-control d-none" placeholder="" id="photo" type="file"
                    (change)="fileChangeEvent($event,'photo')" accept="image/*">
            </ng-container>
        </div>
    </div>
    <form class="agent-details" [formGroup]="form">
        <section class="account-details card pt-2 pb-3 px-3">
            <h2
                class="align-items-center color-16 d-flex edit-bar font-weight-medium justify-content-between sub-heading-03">
                Account Details
                <button *ngIf="!edit?.accountDetails" class="color-03" mat-icon-button
                    (click)="editSection('accountDetails')">
                    <mat-icon class="sub-heading-03">edit</mat-icon>
                </button>
                <button *ngIf="edit?.accountDetails" class="color-03" mat-icon-button
                    (click)="update('personalDetails')">
                    <mat-icon class="sub-heading-03">done</mat-icon>
                </button>
            </h2>
            <div class="form-group mb-0">
                <label class="color-01 font-weight-normal paragraph-03" for="username">Login ID</label>
                <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                    placeholder="" id="username" type="text" formControlName="username">
            </div>
            <!-- <div class="d-flex justify-content-end links">
      <a class="cursor-notallowed font-weight-normal paragraph-03 reset-password text-primary text-decoration-underline">Reset Password</a>
    </div> -->
            <div class="d-flex last-active my-2" *ngIf="isEverLogin">
                <label class="labels" for="username">Last active: </label> <span
                    class="value ml-1">{{agent?.lastActiveDate | date:'short'}}</span>
            </div>
            <div class="profile-staus">
                <label class="color-01 font-weight-normal paragraph-03 m-0" for="username">Profile Status</label>
                <div class="align-items-center d-flex">
                    <span class="color-03 letter-spacing-1 paragraph-02">Inactive</span>
                    <mat-slide-toggle [disabled]="!edit?.accountDetails" [checked]="agent?.isActive" (change)="toggleStatus($event)" class="mx-2">
                    </mat-slide-toggle>
                    <span class="color-03 letter-spacing-1 paragraph-02">Active</span>
                </div>
            </div>
        </section>
        <section class="projects card pt-2 pb-3 px-3">
            <h2 class="align-items-center color-16 d-flex edit-bar font-weight-medium sub-heading-03">Projects
                <!-- <button class="bg-color-16 border-1 letter-spacing-2 ml-3 paragraph-05 px-3 py-1 d-block">Link a project</button> -->
            </h2>
            <div class="count d-flex my-3">
                <div class="align-items-center d-flex mr-4">
                    <p class="color-01 font-weight-medium letter-spacing-1 m-0 mr-1 number sub-heading-01">0</p>
                    <div
                        class="color-01 d-flex flex-column font-weight-medium justify-content-center lables letter-spacing-1 paragraph-04">
                        <p class="m-0">Active</p>
                        <p class="m-0">Projects</p>
                    </div>
                </div>
                <div class="align-items-center d-flex">
                    <p class="color-01 font-weight-medium letter-spacing-1 m-0 mr-1 number sub-heading-01">0</p>
                    <div
                        class="color-01 d-flex flex-column font-weight-medium justify-content-center lables letter-spacing-1 paragraph-04">
                        <p class="m-0">Completed</p>
                        <p class="m-0">Projects </p>
                    </div>
                </div>
                <!-- <div class="align-items-center d-flex active-users">
          <p class="number m-0 mr-1">11</p>
          <div class="d-flex flex-column justify-content-center lables">
            <p class="m-0">Projects </p>
            <p class="m-0">On Hold</p>
          </div>
        </div> -->
            </div>
            <!-- <p class="color-03 d-flex justify-content-end paragraph-04 text-decoration-underline">time spent per project</p> -->
        </section>
        <section class="deals card pt-2 pb-3 px-3">
            <h2
                class="align-items-center color-16 d-flex edit-bar font-weight-medium justify-content-between sub-heading-03">
                Deals</h2>
            <div class="d-block">
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">number deals: <span
                        class="font-weight-medium color-04">0</span></p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">dollar deals: <span
                        class="font-weight-medium color-04">0</span></p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">commissions earned: <span
                        class="font-weight-medium color-04">$0</span></p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">conditional deals - in the last
                    10 days: <span class="font-weight-medium color-04"></span>0</p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">rescission rate: <span
                        class="font-weight-medium color-04">0%</span></p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01 mt-4">total number worksheets
                    submitted: <span class="font-weight-medium color-04">0</span></p>
            </div>
        </section>
        <section class="units card pt-2 pb-3 px-3">
            <h2
                class="align-items-center color-16 d-flex edit-bar font-weight-medium justify-content-between sub-heading-03">
                Units</h2>
            <div class="d-block">
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">unit types sold by agent</p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">unit sizes sold by agent</p>
                <p class="font-weight-normal letter-spacing-1 m-0 paragraph-03 color-01">unit price sold by agent</p>
            </div>
        </section>
        <!-- <section class="builders-linked card justify-content-between pb-3 pt-2 px-3">
      <h2 class="align-items-center color-16 d-flex edit-bar font-weight-medium justify-content-between sub-heading-03">Builders Linked <button mat-icon-button><mat-icon>edit</mat-icon></button></h2>
      <div class="btns d-flex justify-content-end">
        <button class="btn-builder-link">Link an builder</button>
      </div>
    </section> -->
        <section class="personal-details card pt-2 pb-3 px-3">
            <h2
                class="align-items-center color-16 d-flex edit-bar font-weight-medium justify-content-between sub-heading-03">
                Personal Details
                <button *ngIf="!edit?.personalDetails" class="color-03" mat-icon-button
                    (click)="editSection('personalDetails')">
                    <mat-icon class="sub-heading-03">edit</mat-icon>
                </button>
                <button *ngIf="edit?.personalDetails" class="color-03" mat-icon-button
                    (click)="update('personalDetails')">
                    <mat-icon class="sub-heading-03">done</mat-icon>
                </button>
            </h2>
            <div class="d-flex flex-column">
                <div class="form-group mb-1">
                    <label class="color-01 font-weight-normal paragraph-03" for="firstName">First Name</label>
                    <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                        placeholder="" id="firstName" type="text" formControlName="firstName">
                </div>
                <div class="form-group mb-1">
                    <label class="color-01 font-weight-normal paragraph-03" for="middleName">Middle Name</label>
                    <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                        placeholder="" id="middleName" type="text" formControlName="middleName">
                </div>
                <div class="form-group mb-1">
                    <label class="color-01 font-weight-normal paragraph-03" for="lastName">Last Name</label>
                    <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                        placeholder="" id="lastName" type="text" formControlName="lastName">
                </div>
                <div class="form-group mb-1" formArrayName="cellNumbers">
                    <label class="color-01 font-weight-normal paragraph-03" for="cellNumbers">Cell Number</label>
                    <ng-container *ngFor="let item of cellNumbers.controls; let i=index">
                        <div class="position-relative with-button mb-2">
                            <ngx-intl-tel-input class="d-block"
                                cssClass="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                                [separateDialCode]="true" [selectedCountryISO]="CountryISO.Canada"
                                [preferredCountries]="[CountryISO.Canada, CountryISO.India, CountryISO.UnitedStates]"
                                [formControlName]="i" maxLength="15" [phoneValidation]="true"></ngx-intl-tel-input>
                            <!-- <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03" placeholder="" type="text" [formControlName]="i"> -->
                            <button *ngIf="cellNumbers.length > 1 && edit?.personalDetails"
                                class="sub-heading-04 mr-2 position-absolute color-03" mat-icon-button
                                (click)="removeField('cellNumbers',i)">
                                <mat-icon class="sub-heading-03">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <div class="d-flex justify-content-end w-100" *ngIf="edit?.personalDetails">
                        <button class="bg-white border-0 color-01 d-flex paragraph-03"
                            (click)="addField('cellNumbers')">
                            <mat-icon class="paragraph-02">add</mat-icon>
                            <span class="text-decoration-underline">Add another</span>
                        </button>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label class="color-01 font-weight-normal paragraph-03" for="brokerName">Brokerage Name</label>
                    <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03" placeholder="" id="brokerName" type="text" formControlName="brokerName">
                </div>
                <div class="form-group mb-1">
                    <label class="color-01 font-weight-normal paragraph-03" for="address1">Brokerage Address</label>
                    <input formControlName="address1"
                        class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                        (blur)="updateAddress()" formControlName="address1" ngx-google-places-autocomplete
                        (onAddressChange)="handleAddressChange($event)" />
                </div>
                <div class="row">
                    <div class="col-6 form-group mb-1">
                        <label class="color-01 font-weight-normal paragraph-03" for="city">City</label>
                        <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                            placeholder="" id="city" type="text" formControlName="city">
                    </div>
                    <div class="col-6 form-group mb-1">
                        <label class="color-01 font-weight-normal paragraph-03" for="province">Province</label>
                        <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                            placeholder="" id="province" type="text" formControlName="province">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group mb-1">
                        <label class="color-01 font-weight-normal paragraph-03" for="country">Country</label>
                        <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                            placeholder="" id="country" type="text" formControlName="country">
                    </div>
                    <div class="col-6 form-group mb-1">
                        <label class="color-01 font-weight-normal paragraph-03" for="zipCode">Zip Code </label>
                        <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                            placeholder="" id="zipCode" type="text" formControlName="zipCode">
                    </div>
                </div>
                <div class="form-group mb-1" formArrayName="brokerageCellNumbers">
                    <label class="color-01 font-weight-normal paragraph-03" for="brokerageCellNumbers">Brokerage Cell
                        Number</label>
                    <ng-container *ngFor="let item of brokerageCellNumbers.controls; let i=index">
                        <div class="position-relative with-button mb-2">
                            <ngx-intl-tel-input class="d-block"
                                cssClass="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                                [separateDialCode]="true" [selectedCountryISO]="CountryISO.Canada"
                                [preferredCountries]="[CountryISO.Canada, CountryISO.India, CountryISO.UnitedStates]"
                                [formControlName]="i" maxLength="15" [phoneValidation]="true"></ngx-intl-tel-input>
                            <!-- <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03" placeholder="" type="text" [formControlName]="i"> -->
                            <button *ngIf="brokerageCellNumbers.length > 1 && edit?.personalDetails"
                                class="sub-heading-04 mr-2 position-absolute color-03" mat-icon-button
                                (click)="removeField('brokerageCellNumbers',i)">
                                <mat-icon class="sub-heading-03">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <div class="d-flex justify-content-end w-100" *ngIf="edit?.personalDetails">
                        <button class="bg-white border-0 color-01 d-flex paragraph-03"
                            (click)="addField('brokerageCellNumbers')">
                            <mat-icon class="paragraph-02">add</mat-icon>
                            <span class="text-decoration-underline">Add another</span>
                        </button>
                    </div>
                </div>

                <div class="form-group mb-1" formArrayName="realEstateBoardLicenseNumbers">
                    <label class="color-01 font-weight-normal paragraph-03" for="realEstateBoardLicenseNumbers">Real
                        Estate Board License Number</label>
                    <ng-container *ngFor="let item of realEstateBoardLicenseNumbers.controls; let i=index">
                        <div class="position-relative with-button mb-2">
                            <input class="color-03 font-weight-normal form-control letter-spacing-1 m-0  paragraph-03"
                                placeholder="" type="text" [formControlName]="i">
                            <button *ngIf="realEstateBoardLicenseNumbers.length > 1 && edit?.personalDetails"
                                class="sub-heading-04 mr-2 position-absolute color-03" mat-icon-button
                                (click)="removeField('realEstateBoardLicenseNumbers',i)">
                                <mat-icon class="sub-heading-03">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <div class="d-flex justify-content-end w-100" *ngIf="edit?.personalDetails">
                        <button class="bg-white border-0 color-01 d-flex paragraph-03"
                            (click)="addField('realEstateBoardLicenseNumbers')">
                            <mat-icon class="paragraph-02">add</mat-icon>
                            <span class="text-decoration-underline">Add another</span>
                        </button>
                    </div>
                </div>

                <div class="form-group mb-1 row mx-0">
                    <label class="p-0 col-12 color-01 font-weight-normal paragraph-03" for="realEstateBoardLicenseNumbers">Business
                        Card</label>
                    <div class="bg-color-05 col-12 text-center">
                        <ng-container *ngIf="edit?.personalDetails">
                            <ng-container *ngIf="base64Img_businessCard">
                                <label
                                    class="align-items-baseline bg-img border-radius d-flex drag-drop-container form-control justify-content-end p-0"
                                    for="companyLogoPath"
                                    [ngStyle]="{'background-image': 'url(' + base64Img_businessCard || agent?.businessCard || onErrorImg + ')'}">
                                    <button (click)="clearImg('businessCard')"
                                        class="bg-transparent border-0 color-01 cursor-pointer">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                    <span class="color-13">*</span></label>
                            </ng-container>
                            <ng-container *ngIf="!base64Img_businessCard">
                                <label fileDragDrop
                                    (filesChangeEmiter)="onFileChange($event,'businessCard')"
                                    class="border-radius d-flex drag-drop-container flex-column form-control justify-content-center cursor-pointer"
                                    for="businessCard">
                                    <p class="color-03 m-0 paragraph-02 text-center">Drag & Drop file here</p>
                                    <p class="color-03 my-2 paragraph-02 text-center">OR</p>
                                    <p class="m-0 paragraph-02 text-center"><span class="bg-color-08 border-radius color-07 px-3 py-1">Upload</span>
                                    </p>
                                    <!-- <img class="businessCard" src="{{base64Img_businessCard || agent?.businessCard || onErrorImg}}" alt=""
                                    (error)="onError($event)" alt=""> -->
                                </label>
                                <input class="form-control d-none"
                                    placeholder=""
                                    id="businessCard"
                                    type="file"
                                    (change)="fileChangeEvent($event,'businessCard')"
                                    accept="image/*">
                            </ng-container>
                        </ng-container>
                        <img *ngIf="!edit?.personalDetails" class="businessCard" src="{{base64Img_businessCard || agent?.businessCard || onErrorImg}}" alt=""
                    (error)="onError($event)" alt="">
                    </div>
                </div>


            </div>
        </section>


    </form>
    <div class="actions d-flex justify-content-end mt-3">
        <button *ngIf="enabledAssignProjectBtn" mat-raised-button class="bg-color-transparent box-shadow-none btn-login color-01 ml-3 px-3 py-2 paragraph-02" (click)="openAssignProjectToAgentTemplate()">Assign a project</button>
        <button mat-raised-button (click)="openDialog()"
            class="bg-color-13 border-0 border-color-13 color-white font-weight-medium ml-3 paragraph-02 px-3 py-2">Delete
            Agent</button>
    </div>
</section>

<ng-template #deleteTemplate>
    <mat-dialog-content>
        <p class="color-01 d-flex justify-content-center">Are you sure you want to delete ?</p>
        <div class="color-01 d-flex justify-content-center">
            <button mat-button mat-dialog-close
                class="bg-color-02 color-01 color-white mat-button mat-button-base mat-focus-indicator mr-4 px-5">Cancel</button>
            <button mat-button [mat-dialog-close]="true"
                class="bg-color-13 color-white mat-button mat-button-base mat-focus-indicator px-5">Delete</button>
        </div>
    </mat-dialog-content>
</ng-template>


<ng-template #imgCropperTemplate>
    <h2 class="d-flex justify-content-between mat-dialog-title" mat-dialog-title>Image Cropper
        <button class="bg-transparent border-0 d-flex" mat-dialog-close><i class="material-icons">close</i></button>
    </h2>
    <mat-dialog-content>
        <div class="image-cropper mx-auto" *ngIf="imageChangedEvent">
            <image-cropper [imageChangedEvent]="imageChangedEvent" backgroundColor="#FFFFFF" [transform]="tranform"
                [maintainAspectRatio]="true" [aspectRatio]="aspectRatio" format="jpeg"
                (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-center mat-dialog-actions ng-star-inserted px-4">
        <button [disabled]="isProcessing" class="cropper-btn" mat-stroked-button aria-label="button with a close icon"
            *ngIf="imageChangedEvent" (click)="clearImg(selectedFieldForFileUpload);exitCropImage()">
            <mat-icon>close</mat-icon>
        </button>
        <button [disabled]="isProcessing" class="cropper-btn" mat-stroked-button aria-label="button with a zoom-in on"
            *ngIf="imageChangedEvent" (click)="zoomIn()">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button [disabled]="isProcessing" class="cropper-btn" mat-stroked-button
            aria-label="button with a zoom-out icon" *ngIf="imageChangedEvent" (click)="zoomOut()">
            <mat-icon>zoom_out</mat-icon>
        </button>

        <button [disabled]="isProcessing" class="cropper-btn" mat-stroked-button aria-label="button with a check icon"
            *ngIf="imageChangedEvent" (click)="saveCropImage()">
            <mat-icon>check</mat-icon>
        </button>
    </mat-dialog-actions>
</ng-template>

<ng-template #assignProjectToAgentTemplate>
    <h2 class="d-flex justify-content-between mat-dialog-title" mat-dialog-title> Assign Project
        <button class="bg-transparent border-0 d-flex color-01 cursor-pointer" mat-dialog-close >
        <i class="material-icons">close</i>
      </button>
    </h2>
    <mat-dialog-content>
      <mat-progress-bar *ngIf="isProgressing" mode="buffer"></mat-progress-bar>
      <p *ngIf="!isProgressing && !projects?.length" class="paragraph-02 color-03 text-center">There are no project to assign</p>
      <div class="row m-0 pt-3 pb-2 border-color-19">
          <div class="col-3 px-1" *ngFor="let project of projects">
            <button  [disabled]="isProcessing" [ngClass]="{'border-color-11 color-11 font-weight-bold':project?.selected, 'border-color-03 color-03':!project?.selected}" class="mb-2 paragraph-02 btn-block py-1" mat-stroked-button (click)="selectProject(project)" >
                {{ project.text | titlecase }}
              </button>
          </div>

      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-center mat-dialog-actions ng-star-inserted px-4" >
      <button [disabled]="isProcessing" class="border-color-07 color-07 paragraph-02 px-5 py-1" mat-stroked-button mat-dialog-close >
        Cancel
      </button>
      <button [disabled]="isProcessing || !projects.length" class="border-color-07 color-white bg-color-07 paragraph-02 px-5 py-1" mat-stroked-button (click)="assignProject()">
        Assign
      </button>
    </mat-dialog-actions>
  </ng-template>
