.project-img {
    height: 8rem;
    width: 8rem;
}

.view-grid {
    height: 21.84px;
    left: 616.92px;
    top: 210.08px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 14.56px;
    line-height: 22px;
    /* identical to box height */
    text-decoration-line: underline !important;
    color: #469EF0 !important;
}

mat-icon {
    cursor: pointer;
}

.text-info {
    position: relative;
    top: -9px;
    cursor: pointer;
}