<div class="d-flex flex-column w-100">
  <h1 class="font-weight-bold heading-01 font-family-primary">
    Password Changed!
  </h1>
  <p class="font-weight-medium letter-spacing-1 paragraph-01">
    Your password has been changed successfully.
  </p>
  <!-- <p class="font-weight-medium letter-spacing-1 paragraph-01">
    Did not receive the email?
    Contact us at admin@griddo.co
  </p> -->
  <div class="form-group">
    <a class="bg-color-transparent border-0 border-radius color-01 font-weight-bold sub-heading-01 text-decoration-underline"
      routerLink="/">
      Login
    </a>
  </div>
</div>