.unit-box {
  width: 4.8156rem;
  height: 4.8156rem;
}

.floor-numbers {
  .floor-number {
    height: 4.8156rem;
  }
}

.stack-numbers {
  .stack-number {
    width: 4.8156rem;
  }
}

.block-title{
  left: 1.3rem;
}

.sales-grid-blocks {
  overflow: auto;
  height: 53vh;
}
