.avatar {
    width: 1.3rem;
    height: 1.3rem;
}

.avatar-2 {
    width: 2.3125em;
    height: 2.3125rem;
    border-radius: 100%;
}

.documents {
    max-height: 29vh;
    overflow: auto;
}

.chat {
    max-height: 85vh;
    overflow: auto;
}