/*
	Border Radius
	As of 2020 logical border positions do not exist
*/
$positions: "top-right", "top-left", "bottom-left", "bottom-right";
.border {
	&-radius {
		border-radius: 0.5rem;
		&-none {
			border-radius: 0 !important;
		}
		@each $position in $positions {
			&-#{$position}-none {
				border-#{$position}-radius: 0;
			}
		}
	}
}
$positions: "", "-top", "-left", "-bottom", "-right";
$borderwidths: 0, 1, 2, 3, 4, 5;
.border {
	@each $position in $positions {
		&#{$position} {
			@each $width in $borderwidths {
				&-#{$width} {
					border#{$position}: #{$width}px solid;
				}
			}
		}
	}
}
