/* Modified versions of existing bootstrap for Collective usage */

.font,
%font {
  &-style-italic {
    font-style: italic;
  }
  &-style-normal {
    font-style: normal;
  }
  &-weight-medium {
    font-weight: var(--font-weight-medium);
    &-hover {
      &:hover,
      &:active,
      &:focus {
        font-weight: var(--font-weight-medium);
      }
    }
  }
  &-weight-light {
    font-weight: var(--font-weight-light);
    &-hover {
      &:hover,
      &:active,
      &:focus {
        font-weight: var(--font-weight-light);
      }
    }
  }
  &-weight-normal {
    font-weight: var(--font-normal-normal);
    &-hover {
      &:hover,
      &:active,
      &:focus {
        font-weight: var(--font-normal-normal);
      }
    }
  }
  &-weight-semi-bold {
    font-weight: var(--font-weight-semi-bold);
    &-hover {
      &:hover,
      &:active,
      &:focus {
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }
  &-weight-bold {
    font-weight: var(--font-weight-bold);
    &-hover {
      &:hover,
      &:active,
      &:focus {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

:root {
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}