.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  @for $i from 1 through 10 {
    &-#{$i} {
      -webkit-line-clamp: #{$i};
      line-clamp: #{$i};
      --line-clamp: #{$i};
    }
  }
}