.visibility- {
  &hidden {
    visibility: hidden;
  }
  &visible {
    visibility: visible;
  }
  &collapse {
    visibility: collapse;
  }
  &initial {
    visibility: initial;
  }
  &inherit {
    visibility: inherit;
  }
}