<section class="builder-sections">
    <mat-progress-bar *ngIf="isProgressing" mode="buffer"></mat-progress-bar>
    <div class="toolbar d-flex align-items-center justify-content-between my-3">
        <div class="filter d-flex align-items-center">
            <p class="color-01 font-weight-medium letter-spacing-1 m-0 sub-heading-03">Display by:</p>
            <button mat-raised-button
                class="bg-color-white border-0 color-01 font-family-primary font-weight-normal letter-spacing-1 ml-2 paragraph-02"
                [matMenuTriggerFor]="menu">{{sort.selected}}
                <span class="material-icons">arrow_drop_down</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let item of sort.items" (click)="sort.select(item)">{{item.name}}</button>
            </mat-menu>
        </div>
        <!-- <a routerLink="add"
            class="align-items-center bg-color-01 border-0 border-radius color-white d-flex justify-content-between paragraph-03 px-3 py-1 color-white-hover">
            <span class="material-icons paragraph-01 pr-1">add</span> Add Project</a> -->
    </div>
    <div class="project-cards">
        <div class="row align-items-stretch no-gutters">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3 px-2" *ngFor="let project of project?.data">
                <a class="project-card d-flex" [routerLink]="[project.projectId]">
                    <div class="align-items-center d-flex img-box">
                        <img src="{{project?.logo || onErrorImg}}" alt="" (error)="onError($event)">
                    </div>

                    <div class="content-box ">
                        <div class="align-items-start d-flex upper-box">
                            <div class="name-box ">
                                <h4 class="project-name">{{(project?.projectName ||'n/a') | titlecase}}</h4>
                                <h6 class="company-name">{{project?.builderName | titlecase}}</h6>
                                <div class="location-box">
                                    <p>{{(project?.address || 'n/a') | titlecase}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="count d-flex">
                            <div class="align-items-center d-flex mr-3 project-running">

                                <div class="sold-units">
                                    <div class="d-flex align-items-center">
                                        <div class="t-units"><span>{{project?.totalUnits}}</span> Units</div>
                                        <div class="t-units"><span>{{project?.soldUnits}}</span> Sold</div>
                                    </div>
                                    <div class="t-units d-flex align-items-center">$<span class="pr-1"></span> revenue
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-1 ">
                            <div class="status mr-3">{{project?.projectStatus}}</div>
                            <div class="member-since m-0">{{project?.soldPercentage}}% sold</div>
                        </div>
                        <div class="align-items-start bottom d-flex flex-column">


                            <p class="subscription m-0">Completion Date {{project?.completionDate | date:'shortDate'}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-2">
                <mat-paginator [disabled]="isProgressing" [length]="project.count" [pageSize]="project.size"
                    [pageSizeOptions]="[5, 10, 25, 50, 100, 200]" (page)="onPageChange($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</section>