@model MVC_Identity.DTO.RegistrationModel
@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="~/css/site.css" rel="stylesheet" />

<form onsubmit="return SubmitAddEdit(this)" class="pt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Name" autocomplete="off" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" asp-for="UserName" autocomplete="off" />
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    @if (string.IsNullOrEmpty(Model.Id))
    {
        <div class="mb-3">
            <label>Email</label>
            <input type="text" class="form-control" asp-for="Email" autocomplete="off" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    }
    else
    {
        <div class="mb-3">
            <label>Email</label>
            <input type="text" class="form-control" asp-for="Email" disabled="disabled" autocomplete="off" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    }
    <div class="mb-3">
        <label>Role</label>
        <select class="form-select" asp-for="Role">
            <option value="" disabled selected>-- Select a Role --</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <span class="text-danger" asp-validation-for="Role"></span>
    </div>
    <div class="mb-3">
        <label>Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" id="AddEdit_Contact" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    @if (string.IsNullOrEmpty(Model.Id))
    {

        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" asp-for="Password" autocomplete="off" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label>Password Confirm</label>
            <input type="password" class="form-control" asp-for="PasswordConfirm" autocomplete="off" />
            <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
        </div>

    }
    @if (TempData["msg"] != null)
    {
        <div class="mb-3">
            @TempData["msg"]
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/display/index.js"></script>
}

<script>
    document.getElementById("AddEdit_Contact").addEventListener("keypress", function (event) {
        // Check if the pressed key is a numeric key (0-9) or the Backspace key
        if (!event.key.match(/[0-9]|Backspace/)) {
            // Prevent the keypress
            event.preventDefault();
        }
    });
</script>