
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = TempData["UserId"];
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body p-0">
            <p class="card-title">Change Password</p>
            <!-- CARD HEADER START -->
            <div class="card_head">
                <form class="form-sample">
                    <div class="row">
                        <input type="hidden" value="@userId" id="id" />
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Old Password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="oldpass" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="newpass" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="cnfrmpass" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button id="pass_btn" type="button" class="btn btn-primary mr-2">Update Password</button>
                        <button class="btn btn-light cancel">Cancel</button>
                    </div>
                    
                </form>
            </div>
            <!-- /CARD HEADER END -->
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var admin = '@Url.Action("Index","Admin")';
    var user = '@Url.Action("Index","Admin")';
    $("#pass_btn").click(function () {
        var id = $("#id").val();
        var old = $("#oldpass").val();
        var newpass = $("#newpass").val();
        var cnfrm = $("#cnfrmpass").val();
        if (old == "") {
            alert("Please enter old password");
            return false;
        }else if(old == newpass){
            alert("old and new password can't be same.");
            return false;
        }
        else if (newpass == "") {
            alert("Please enter new password");
            return false;
        }
        else if (cnfrm == "") {
            alert("Please enter in confirm password");
            return false;
        }
        else if (newpass != cnfrm) {
            alert("Password mismatch.");
            return false;
        }
        $('.loader').show();
        var data = { "Id": id, "old": old, "newpass": newpass };
        $.ajax({
            type: "Post",
            url: "/User/UpdatePassword",
            cache: false,
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.Success) {
                    alert("Password updated successfully.")
                    window.location.href = result.Message == "Admin" ? admin : user;
                }
                else
                    alert(result.Message);
            },
            error: function (result) {
                $('.loader').hide();
                alert(result.Message);
            }
        });
    });

</script>

